/* PC */
@media (min-width: 1024px) {
  
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}
/* Mobile */
@media (max-width: 740px) {
    .nav-item a {
        display: block;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    .nav-item {
        display: block;
    }
    .search-btn {
        display: none;
    }
    #header {
        overflow: hidden;
    }
}